/* Container */
#container2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Menu Button */
.menu-btn2 {
    width: 30px;
    height: 30px;
    float: right;
    padding: 0px;
    background: #999483;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}
.menu-btn2:hover {
  opacity: 0.6;
}


